services:
  - type: web
    name: salon-oasis
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://postgres:iF8HbyGBpNoYzhO2@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
